<template>
    <div class="file-upload">
        <div class="upload-box" ref="dropzone" :id="domID">
            <div class="how-to" v-show="!containsFiles">
                <slot>Drag and drop a file or click "Upload" to get started.</slot>
            </div>
            <file-preview v-for="file in filelist"
                :source="file"
                :key="file.id"
                :id="file.id"
                :selected="file.selected"
                :name="inputName"
                @click="selectFile"
            ></file-preview>
        </div>
        <div class="status-bar">
            <ul class="limitation">
                <li v-if="limit">Maximum <strong>{{ limit }}</strong> uploads</li>
                <li v-if="extensions">Allowed file types: <strong>{{ extensions }}</strong></li>
            </ul>
            <div class="toolbar">
                <button type="button" class="btn muted" ref="upload"><em class="far fa-upload"></em> Upload</button>
                <button type="button" class="btn muted" @click="selectAll" v-if="!simple"><em class="far fa-check-square"></em> Select All</button>
                <button type="button" class="btn muted" @click="clearSelection" v-show="hasSelection" v-if="!simple"><em class="far fa-minus-square"></em> Clear</button>
                <button type="button" class="btn muted" @click="removeSelection" v-show="hasSelection"><em class="far fa-trash"></em> Remove</button>
                <button type="button" class="btn muted hidden" v-show="hasSelection" v-if="!simple"><em class="far fa-download"></em>Download</button>
            </div>
        </div>
    </div>
</template>

<script>
/* global eventbus */
import plupload from 'plupload';
import FilePreview from './FilePreview.vue';

let hoverTimer;
let lastClick;

export default {
    components: {
        FilePreview,
    },

    props: {
        id: {
            type: String,
            default: '',
        },
        files: {
            type: Array,
            default: () => [],
        },
        extensions: {
            type: String,
            default: null,
        },
        name: {
            type: String,
            default: 'upload',
        },
        url: {
            type: String,
            default: '/dashboard/uploads',
        },
        limit: {
            type: Number,
            default: null,
        },
        simple: {
            type: Boolean,
            default: false,
        },
    },

    data() {
        return {
            filelist: [],
            domID: '',
            uploader: '',
        };
    },

    computed: {
        containsFiles() {
            return this.filelist.length > 0;
        },

        inputName() {
            return `${this.name}[]`;
        },

        filters() {
            if (this.extensions === null) {
                return {};
            }

            return {
                mime_types: [{
                    title: 'Accepted',
                    extensions: this.extensions,
                }],
            };
        },

        eventPrefix() {
            return `file-upload:${this.domID}`;
        },

        hasSelection() {
            return this.filelist.filter(item => item.selected).length > 0;
        },
    },

    methods: {
        randomString() {
            return Math.random().toString(36).substring(2, 15);
        },

        fileIndex(id) {
            return this.filelist.findIndex(possibility => possibility.id === id);
        },

        activeFile(id) {
            return this.filelist[this.fileIndex(id)];
        },

        filesAdded(up, files) {
            files.forEach((file) => {
                this.filelist.push({
                    id: file.id,
                    name: file.name,
                    src: null,
                    progress: file.percent,
                    state: 'uploading',
                    ref: file,
                    selected: false,
                });
            });

            up.refresh();
            up.start();
        },

        uploadProgress(up, file) {
            this.activeFile(file.id).progress = file.percent;
        },

        fileUploaded(up, file, result) {
            const fileDetails = JSON.parse(result.response);

            this.activeFile(file.id).state = 'complete';
            this.activeFile(file.id).src = fileDetails;

            this.$emit('uploaded', fileDetails);
            eventbus.$emit(`${this.eventPrefix}:uploaded`, fileDetails);
        },

        clearFiles() {
            this.filelist = [];

            this.$emit('cleared');
            eventbus.$emit(`${this.eventPrefix}:cleared`);
        },

        selectFile(e) {
            const index = this.fileIndex(e.id);

            if (e.event.shiftKey) {
                this.clearSelection();
                const lastIndex = lastClick !== null ? this.fileIndex(lastClick) : 0;
                const upperIndex = Math.max(lastIndex, index);
                const lowerIndex = Math.min(lastIndex, index);

                this.filelist.forEach((file, key) => {
                    if (key >= lowerIndex && key <= upperIndex) {
                        file.selected = true;
                    }
                });

                return;
            }

            if (!e.event.ctrlKey) {
                this.clearSelection();
            }

            if (lastClick === e.id) {
                lastClick = null;
                return;
            }

            this.filelist[index].selected = true;
            lastClick = e.id;
        },

        clearSelection() {
            this.filelist.forEach((file) => {
                file.selected = false;
            });

            lastClick = null;
        },

        selectAll() {
            this.filelist.forEach((file) => {
                file.selected = true;
            });

            lastClick = null;
        },

        removeSelection() {
            const removals = [];
            const removed = [];

            this.filelist.forEach((file, index) => {
                if (file.selected) {
                    removals.push(index);
                }
            });

            removals.reverse().forEach((index) => {
                removed.push(...this.filelist.splice(index, 1));
            });

            this.$emit('removed', removed);
        },
    },

    mounted() {
        const target = this.$refs.dropzone;
        const uploadBtn = this.$refs.upload;

        this.uploader = new plupload.Uploader({
            runtimes: 'html5',
            url: this.url,
            browse_button: uploadBtn,
            drop_element: target,
            multi_selection: true,
            file_data_name: 'upload',
            filters: this.filters,
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            },
            init: {
                FilesAdded: this.filesAdded,
                UploadProgress: this.uploadProgress,
                FileUploaded: this.fileUploaded,
            },
        });

        this.uploader.init();

        this.filelist = this.files.map(file => (Object.assign({
            id: this.randomString(),
            name: null,
            src: null,
            progress: 100,
            state: 'complete',
            selected: false,
        }, {
            src: file,
        })));

        this.domID = this.id.length > 0 ? this.id : `upload-${this.randomString()}`;

        target.addEventListener('mouseover', () => {
            clearTimeout(hoverTimer);
        });

        target.addEventListener('mouseout', () => {
            hoverTimer = setTimeout(() => {
                eventbus.$emit('uploads:hover:disable');
            }, 500);
        });

        eventbus.$on(`${this.eventPrefix}:clear`, this.clearFiles);
    },

    beforeDestroy() {
        eventbus.$off(`${this.eventPrefix}:clear`, this.clearFiles);
        this.uploader.destroy();
    },
};
</script>
