<template>
    <div class="asset" :class="classes" ref="preview">
        <div class="info-box" v-if="showTooltip">{{ fileName }}</div>
        <div class="preview" :style="previewObject"></div>
        <div class="progress">
            <div class="bar" :style="progressBar"></div>
        </div>
        <input type="hidden" :name="name" :value="ID">
    </div>
</template>

<script>
/* global eventbus */
let hoverTimer;

export default {
    props: ['source', 'name', 'id', 'selected'],

    data() {
        return {
            extensions: [
                { name: 'image', exts: /(.jpg|.jpeg|.gif|.png)$/i },
                { name: 'svg', exts: /(.svg)$/i },
                { name: 'pdf', exts: /(.pdf)$/i },
                { name: 'archive', exts: /(.zip|.rar)$/i },
                { name: 'audio', exts: /(.mp3|.wav)$/i },
                { name: 'video', exts: /(.mp4|.webm|.mov|.avi|.mkv|.ogv|.ogg|.wmv)$/i },
                { name: 'excel', exts: /(.xls|.xlsx|.csv)$/i },
                { name: 'powerpoint', exts: /(.ppt|.pptx)$/i },
                { name: 'word', exts: /(.doc|.docx)$/i },
                { name: 'text', exts: /(.txt)$/i },
            ],
            previewObject: {},
            showTooltip: false,
        };
    },

    computed: {
        progressBar() {
            return {
                width: `${this.progress}%`,
            };
        },
        classes() {
            const classes = {
                uploading: this.state === 'uploading',
                complete: this.state === 'complete',
                error: this.state === 'error',
            };

            classes[`type-${this.ext}`] = true;

            if (this.selected) {
                classes.selected = true;
            }

            return classes;
        },
        state() {
            return this.source.state ? this.source.state : 'complete';
        },
        progress() {
            return this.source.progress ? this.source.progress : 100;
        },
        ext() {
            const file = this.source.name ? this.source.name : this.source.src.name;
            const match = this.extensions.find(group => group.exts.test(file));

            return match ? match.name : 'text';
        },
        fileName() {
            return this.source.src !== null ? this.source.src.original : null;
        },
        ID() {
            return this.source.src !== null ? this.source.src.id : '';
        },
    },

    methods: {
        enableHovering() {
            this.showTooltip = true;
        },
        disableHovering() {
            this.showTooltip = false;
        },
    },

    mounted() {
        if (this.ext === 'image' || this.ext === 'svg') {
            if (this.source.src !== null) {
                this.previewObject = {
                    backgroundImage: `url(${this.source.src.path})`,
                };
            } else {
                const reader = new FileReader();

                reader.onload = (e) => {
                    if (this.ext === 'svg') {
                        this.previewObject = {
                            backgroundImage: `url(${e.target.result})`,
                            backgroundSize: 'contain',
                            backgroundRepeat: 'no-repeat',
                        };
                    } else {
                        this.previewObject = {
                            backgroundImage: `url(${e.target.result})`,
                        };
                    }
                };

                reader.readAsDataURL(this.source.ref.getNative());
            }
        }

        this.$refs.preview.addEventListener('click', (e) => {
            e.stopPropagation();
            e.preventDefault();

            this.$emit('click', {
                event: e,
                id: this.id,
            });
        });

        this.$refs.preview.addEventListener('mouseover', () => {
            hoverTimer = setTimeout(() => {
                eventbus.$emit('uploads:hover:enable');
            }, 500);
        });

        this.$refs.preview.addEventListener('mouseout', () => {
            clearTimeout(hoverTimer);
        });

        eventbus.$on('uploads:hover:enable', this.enableHovering);
        eventbus.$on('uploads:hover:disable', this.disableHovering);
    },
};
</script>
