.file-upload {
    .status-bar {
        display: flex;
        justify-content: space-between;
    }

    .limitation {
        color: #8a95a5;
        font-size: 14px;
        list-style: none;
        margin: 0.25rem 0 0 0;
        padding: 0;
        display: flex;

        strong {
            font-weight: 500;
        }

        li {
            &:not(:first-child) {
                position: relative;
                padding-left: 1.5rem;
            }
        }
    }

    .toolbar {
        background: #e6ecf0;
        border-radius: 0 0 0.25rem 0.25rem;
        overflow: hidden;
        display: flex;

        .btn {
            display: block;
            padding: 0.5rem 0.75rem;
            border-radius: 0;
            font-size: 1rem;
            font-weight: 400;

            &:not(:first-child) {
                margin-left: 1px;
            }
        }
    }

    .upload-box {
        border: 2px dashed fade-out(#7c8ba6, 0.5);
        border-radius: 0.25rem;
        padding: 0.75rem;
        min-height: 12rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .how-to {
            font-style: italic;
            color: #8a95a5;
            margin: 0;
            padding: 5rem 0;
            flex: 1;
            text-align: center;
        }

        .asset {
            background-image: linear-gradient(45deg, #cac6c6 25%, transparent 25%), linear-gradient(-45deg, #cac6c6 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #cac6c6 75%), linear-gradient(-45deg, transparent 75%, #cac6c6 75%);
            background-size: 20px 20px;
            background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
            width: 165px;
            height: 165px;
            position: relative;
            margin: 0.5rem;
            cursor: pointer;

            &:hover {
                .remove,
                .info {
                    opacity: 1;
                }

                .info-box {
                    display: block;
                }
            }

            &.uploading {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: fade-out(black, 0.3);
                }

                .preview {
                    opacity: 0.5;
                    color: white;
                }
            }

            &:not(.uploading) {
                .progress {
                    display: none;
                }
            }

            &.complete,
            &.error {
                .remove,
                .info {
                    display: block;
                }
            }

            &.selected,
            &.error {
                position: relative;

                &:before {
                    content: "\f00c";
                    font-family: 'Font Awesome 5 Pro';
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 10;
                    color: white;
                    font-size: 0.9rem;
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                    line-height: 2rem;
                    box-shadow: -3px 3px 6px 1px fade-out(black, 0.5);
                }

                .preview {
                    box-shadow: inset 0 0 10px 2px fade-out(black, 0.5);
                }
            }

            &.selected {
                &:before {
                    background: #00a989;
                    content: "\f00c";
                }
            }

            &.error {
                &:before {
                    background: #c14e47;
                    content: "\f00d";
                }
            }

            &.type-archive .preview:before {
                content: "\f1c6";
            }

            &.type-audio .preview:before {
                content: "\f1c7";
            }

            &.type-excel .preview:before {
                content: "\f1c3";
            }

            &.type-pdf .preview:before {
                content: "\f1c1";
            }

            &.type-video .preview:before {
                content: "\f1c8";
            }

            &.type-text .preview:before {
                content: "\f15c";
            }

            &.type-powerpoint .preview:before {
                content: "\f1c4";
            }

            &.type-word .preview:before {
                content: "\f1c2";
            }

            &.type-file .preview:before {
                content: "\f15b";
            }

            .preview {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                position: relative;
                z-index: 5;

                &:before {
                    font-family: 'Font Awesome 5 Pro';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 80px;
                }

                .processing {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    color: #ffd507;
                    font-size: 1.25rem;
                }
            }

            .remove {
                display: none;
                position: absolute;
                top: 10px;
                right: 4px;
                z-index: 10;
                line-height: 1em;
                color: white;
                opacity: 0;
                transition: all 0.2s ease-in-out;
                text-shadow: 1px 1px 3px fade-out(black, 0.4);
            }

            .info-box {
                position: absolute;
                display: none;
                background: #354052;
                color: white;
                padding: 8px 16px;
                width: 210px;
                border-radius: 4px;
                bottom: calc(100% + 8px);
                left: 50%;
                color: #d2dae2;
                font-size: 14px;
                z-index: 50;
                transform: translateX(-50%);
                word-break: break-all;
                user-select: none;

                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    margin-left: -8px;
                    left: 50%;
                    bottom: -8px;
                    border-width: 8px 8px 0 8px;
                    border-color: #354052 transparent transparent transparent;
                }
            }
        }

        .progress {
            width: calc(100% - 30px);
            height: 15px;
            border-radius: 40px;
            background: white;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            overflow: hidden;
            z-index: 15;

            .bar {
                background: #00a989;
                height: 100%;
            }
        }
    }
}

@-webkit-keyframes center-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

@keyframes center-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
